* {
    text-align: center;
}
.header {
    background-color: blueviolet;
    height: 100px;
}

.nav {
    background-color: aqua;
    height: 100px;

}

.blue {
    background-color: blue;
    height: 200px;
    
}

.red {
    background-color: red;
    height: 400px;
}

.green {
    background-color: green;
    height: 200px;
}

.footer {
    background-color: grey;
    height: 100px;
}